/* ===============  Setting  =============== */

:root {
  --roboto-font: "Roboto", sans-serif;
  --utm-avo-font: UTM Avo;
  --sfu-font: SFU;
  --main-color: #0fb7a4;
}

html {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--roboto-font);
  font-size: 14px;
  line-height: 1;
}

input,
button,
select,
textarea {
  outline: none;
  font-family: var(--roboto-font);
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-weight: 400;
}

ul {
  margin: 0;
  list-style: none;
}

button {
  cursor: pointer;
}

input {
  line-height: normal;
}

a,
a:hover{
  text-decoration: none;
  color: unset;
}

img {
  max-width: 100%;
  display: block;
}

/* ===============  Fonts Import  =============== */

@font-face {
  font-family: UTM Avo;
  src: url(../fonts/UTM\ Avo.ttf);
}

@font-face {
  font-family: SFU;
  src: url(../fonts/SFUInsigniaRegular.TTF);
}

/* ===============  Global style  =============== */

.viewmore {
  margin: 0 auto;
}

.view-more {
  display: inline-block;
  background-color: var(--main-color);
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  padding: 14px 40px;
  border-radius: 30px;
}

.view-more:hover {
  color: #fff;
  text-decoration: underline;
}

.page-heading {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  max-width: 430px;
  position: relative;
  text-align: center;
  margin: 0 auto;
}

.page-heading::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 60px;
  background-color: var(--main-color);
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.page-heading::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 60px;
  background-color: var(--main-color);
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

/* =============== Header =============== */

.header {
  background: #fff;
  transition: all 0.3s ease-in-out;
}

.header.active {
  position: fixed;
  z-index: 88;
  top: 0;
  left: 0;
  right: 0;
  animation: slideDown 0.5s ease;
  transition: all 0.5s ease;
}

@keyframes slideDown {
  0% {
    transform: translateY(-200px);
  }
  100% {
    transform: translateY(0);
  }
}

.header-title {
  font-size: 30px;
  text-transform: uppercase;
  color: #2e2d3e;
  font-family: var(--utm-avo-font);
}

.header-action i {
  font-size: 30px;
  display: inline-block;
  cursor: pointer;
  color: #0b0b0b;
}

.header-action i ~ i {
  margin-left: 15px;
}

.nav {
  background-color: var(--main-color);
  padding: 15px 0;
}

.menu-link {
  color: #f5f6f9;
  font-size: 15px;
  text-transform: uppercase;
}

.menu-item:not(:first-child) {
  margin-left: 70px;
}

.menu-link {
  transition: all 0.25s ease-in-out;
}

.menu-link:hover {
  color: #f5f6f9;
}

.has-submenu {
  position: relative;
}

.has-submenu:hover .submenu {
  opacity: 0.9;
  visibility: visible;
  transform: translateY(0);
}

.submenu {
  position: absolute;
  width: 240px;
  padding: 15px 10px;
  box-shadow: 0 14px 40px rgb(0 0 0 / 10%);
  background-color: #fff;
  top: 30px;
  transform: translateY(20px);
  transition: all 0.3s ease;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
}

.submenu::before {
  position: absolute;
  content: "";
  height: 20px;
  width: 100%;
  left: 0;
  top: -15px;
}

.submenu li a {
  display: block;
  padding: 0 10px;
  line-height: 40px;
  transition: all 0.35s ease-in-out;
  font-weight: 500;
}

.submenu li a.active,
.submenu li a:hover {
  color: #0fb7a4;
}

.submenu li a:hover {
  transform: translateX(10px);
}

.menu-btn i {
  font-size: 30px;
  cursor: pointer;
}

.menu-btn i:first-child {
  margin-right: 10px;
  font-size: 26px;
}

/* ===============  Menu mobile  =============== */

.menumobile {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  transition: all 0.25s ease-in-out;
}

.menumobile.active {
  opacity: 1;
  visibility: visible;
}

.menumobile-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 98;
  transition: 0.3s ease;
}

.menumobile.active .menumobile-list {
  transform: translateX(0);
}

.menumobile-list {
  position: absolute;
  right: 0;
  background-color: #fff;
  height: 100vh;
  padding: 15px;
  width: 280px;
  transform: translateX(100%);
  z-index: 99;
  transition: all 0.25s ease-in-out;
}

.menumobile-list li a {
  text-transform: uppercase;
  padding: 0 10px;
  line-height: 50px;
  display: block;
}

/* ===============  Category =============== */

.category {
  margin: 45px 0;
}

.category-title {
  font-size: 36px;
  color: #333333;
  font-family: var(--utm-avo-font);
  text-transform: uppercase;
  margin-bottom: 25px;
}

.category-wrap {
  display: flex;
  flex-wrap: wrap;
  margin-left: -18px;
}

.category-item {
  margin-left: 18px;
  height: 400px;
}

.category-img {
  position: relative;
}

.category-img img {
  object-fit: cover;
  border-radius: 5px;
}

.category-img-content {
  position: absolute;
  z-index: 1;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  text-align: right;
}

.category-img-content h3 {
  font-family: var(--sfu-font);
  font-size: 24px;
  color: #0480ea;
  line-height: 30px;
  text-transform: uppercase;
  text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff,
    1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
  margin-bottom: 10px;
}

.category-img-content p {
  color: #000000;
  text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff,
    1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

.wid-29 {
  flex-direction: column;
  width: calc(29% - 18px);
}

.wid-29 img {
  height: 190px;
}

.wid-29 .category-img-content {
  width: 50%;
}

.wid-22 {
  width: calc(22% - 18px);
}

.wid-22 img,
.wid-20 img {
  height: 400px;
}

.wid-20 {
  width: calc(20% - 18px);
}

/* ===============  Product  =============== */

.product {
  margin-bottom: 20px;
}

.product-tab {
  margin-bottom: 45px;
}

.product-tab li a {
  font-weight: 700;
  font-size: 18px;
  color: #333333;
  text-transform: uppercase;
  display: inline-block;
}

.product-tab li ~ li {
  margin-left: 40px;
}

.product-tab li a.active {
  color: #fff;
  background-color: var(--main-color);
  padding: 13px 18px;
  border-radius: 5px;
}

.product-item {
  margin-bottom: 20px;
}

.product-img {
  border: 1px solid #ebebeb;
  overflow: hidden;
  transition: all 0.25s ease-in-out;
}

.product-img img:hover {
  transform: scale(1.1);
}

.product-img img {
  height: 370px;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
  transition: all 0.25s ease-in-out;
}

.product-title a {
  font-size: 14px;
  color: #000000;
  text-transform: uppercase;
  line-height: 24px;
  margin: 18px 0;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.product-price {
  font-weight: 700;
}

.pane .viewmore {
  margin-top: 20px;
}

/* ===============  Feedback  =============== */

.feedback {
  background: url(../images/feedback-bg.jpg) no-repeat center/cover;
  width: 100%;
  height: 395px;
  padding-top: 45px;
  box-shadow: inset rgb(0 0 0 / 45%) 0px 20px 20px -20px,
    inset rgb(0 0 0 / 45%) 0px -20px 20px -20px;
}

.feedback .page-heading {
  margin-bottom: 35px;
}

.feedback-user {
  position: relative;
}

.feedback-user::before {
  content: "";
  position: absolute;
  right: -40px;
  height: 100%;
  width: 1px;
  background-color: #d3d3d3;
}

.feedback-avatar {
  width: 170px;
  height: 170px;
  background: url(../images/avatar.jpg) no-repeat center/cover;
  border-radius: 50%;
  position: relative;
  margin: 0 auto;
  margin-bottom: 30px;
}

.feedback-avatar::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  border: 5px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

.feedback-name {
  font-size: 18px;
  color: var(--main-color);
  margin-bottom: 10px;
}

.feedback-job {
  font-style: italic;
  font-size: 18px;
  color: #333333;
}

.feedback-content {
  max-width: 450px;
  line-height: 36px;
  margin-left: 90px;
  font-size: 16px;
  text-align: justify;
  word-spacing: 1;
}

.nav-center .owl-nav button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  outline: none;
  border: none;
}

.nav-center .owl-nav button i {
  display: inline-block;
  background-color: #f0f0f0;
  width: 30px;
  height: 30px;
  display: grid;
  place-items: center;
}

.nav-center .owl-nav button.owl-prev {
  left: -90px;
}

.nav-center .owl-nav button.owl-next {
  right: -90px;
}
/* ===============  News  =============== */

.news {
  padding-top: 40px;
}

.news-box {
  margin-bottom: 25px;
}

.news .page-heading {
  margin-bottom: 35px;
}

.news-content {
  width: 42%;
  margin-left: 20px;
}

.news-content h4 a {
  font-size: 14px;
  font-weight: 700;
  color: #333333;
  line-height: 18px;
}

.news-author {
  font-style: italic;
  color: #565458;
  font-size: 12px;
  margin: 18px 0;
  font-weight: 700;
}

.news-img {
  overflow: hidden;
  width: 58%;
}

.news-img img {
  height: 224px;
  object-fit: cover;
  width: 100%;
  transition: all 0.3s;
}

.news-img:hover img {
  transform: scale(1.1);
}

.news-desc {
  font-size: 12px;
  color: #828282;
  line-height: 18px;
  margin-bottom: 16px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.news-info span,
.news-info a {
  font-size: 12px;
  font-style: italic;
  color: #828282;
}

.news-info span {
  margin-right: 15px;
}

.news .viewmore {
  margin-top: 25px;
}

/* ===============  Partner  =============== */

.partner {
  margin-top: 60px;
}

.partner-slide {
  position: relative;
}

.partner-slide::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
  top: -25px;
  background-color: #eeeeee;
}

.partner .owl-carousel .owl-item img {
  width: unset;
  margin: 0 auto;
}

.partner .nav-center .owl-nav button.owl-prev {
  left: 0;
}

.partner .nav-center .owl-nav button.owl-next {
  right: 0;
}

/* ===============  Showroom  =============== */
.showroom {
  height: 185px;
  background: url(../images/showrom2.jpg) no-repeat center/cover;
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.showroom-content {
  width: 50%;
  margin: 0 auto;
}

.showroom-content h2 {
  font-size: 24px;
  line-height: 36px;
  color: #fff;
  text-transform: uppercase;
  font-family: var(--utm-avo-font);
  font-weight: 700;
}

.showroom-btn {
  display: inline-block;
  background: var(--main-color);
  padding: 15px 70px;
  color: #fff;
  text-transform: uppercase;
  font-family: var(--utm-avo-font);
  border: 1px solid #cccccc;
  border-radius: 30px;
  margin-top: 24px;
}

.showroom-btn:hover {
  color: #fff;
}

/* ===============  Footer =============== */

.footer {
  padding-top: 30px;
}
.footer,
.newletter {
  background: #00447f;
}

.newletter {
  border-bottom: 1px solid #fff;
}

.newsletter-title {
  font-size: 18px;
  color: #fff;
}

.form-gr input {
  border: none;
  outline: none;
  width: 300px;
  height: 34px;
  padding-left: 15px;
  font-size: 12px;
  color: #666666;
}

.register-btn {
  border: none;
  outline: none;
  width: 100px;
  background: #00863e;
  color: #fff;
  font-size: 13px;
  text-transform: uppercase;
}

.register-btn:focus {
  border: none;
  outline: none;
}

.pd15 {
  padding: 15px 0;
}

.form-gr input::placeholder {
  font-size: 12px;
  color: #666666;
}

.footer-form {
  justify-content: flex-end;
}

.footer-title {
  font-size: 16px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 5px;
}

.footer p {
  font-size: 13px;
  color: #fff;
  line-height: 24px;
}

.footer p  i {
  font-size: 15px;
  vertical-align: middle;
  margin-right: 5px;
}

.fb-img {
  justify-content: flex-end;
}

.fb-img img {
  width: 272px;
  height: 168px;
  object-fit: cover;
}

.back-top {
  position: fixed;
  right: 50px;
  bottom: 50px;
  opacity: 0;
  visibility: hidden;
  transition: all .2s ease-in-out;
  background: var(--main-color);
  color: #fff;
  width: 40px;
  height: 40px;
  display: grid;
  place-items: center;
  border-radius: 50%;
  z-index: 99;
}

.back-top:hover {
  text-decoration: none;
  color: #fff;
}


.back-top.active {
  opacity: 1;
  visibility: visible;
}
/* ===============  Media Queries  =============== */

@media screen and (min-width: 1350px) {
  .container {
    max-width: 1230px;
    width: 100%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 1366px) {
  .nav-center .owl-nav button.owl-prev {
    left: -35px;
  }

  .nav-center .owl-nav button.owl-next {
    right: -35px;
  }
}

@media screen and (max-width: 1199px) {
  .menu-item:not(:first-child) {
    margin-left: 60px;
  }
}

@media screen and (max-width: 991px) {
  .menu-item:not(:first-child) {
    margin-left: 50px;
  }

  .category-title {
    font-size: 30px;
  }

  .category-item {
    width: 100%;
    height: unset;
  }

  .category-img {
    margin-bottom: 20px;
  }

  .category-img img {
    width: 100%;
    height: unset;
  }

  .nav-center .owl-nav button {
    display: none;
  }

  .feedback-user::before {
    content: unset;
  }

  .feedback-content {
    display: none;
  }

  .showroom-content {
    width: unset;
  }

  .newsletter-title {
    display: none;
  }

  .footer-form {
    justify-content: center;
  }

  .fb-img {
    justify-content: flex-start;
  }
}

@media screen and (max-width: 767px) {
  .fb-img {
    margin-top: 20px;
  }
}
@media screen and (max-width: 480px) {
  .product-tab li a {
    font-size: 12px;
  }

  .product-tab {
    margin-bottom: 20px;
  }

  .feedback .page-heading,
  .news .page-heading {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .feedback .page-heading::before,
  .news .page-heading::before,
  .news .page-heading::after,
  .feedback .page-heading::after {
    width: 40px;
  }
  .feedback-job {
    font-size: 14px;
  }
  .news-box {
    flex-wrap: wrap;
    border: 1px solid rgb(235, 233, 233);
    padding: 5px;
  }
  .news-img {
    width: 100%;
  }
  .news-content {
    width: 100%;
    margin-left: 0;
  }

  .showroom-content h2 {
    font-size: 14px;
    line-height: 25px;
  }

  .showroom-btn  {
    padding: 10px 30px;
    margin-top: 10px;
  }

  .form-gr input {
    width: 100%;
  }
  
  .back-top {
    right: 20px;
    bottom: 30px;
  }
}
