/* ===============  Setting  =============== */

:root {
  --roboto-font: "Roboto", sans-serif;
  --utm-avo-font: UTM Avo;
  --sfu-font: SFU;
  --main-color: #0fb7a4;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--roboto-font);
  font-size: 14px;
  line-height: 1;
}

input,
button,
select,
textarea {
  outline: none;
  font-family: var(--roboto-font);
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-weight: 400;
}

ul {
  margin: 0;
  list-style: none;
}

button {
  cursor: pointer;
}

input {
  line-height: normal;
}

a,
a:hover {
  text-decoration: none;
  color: unset;
}

img {
  max-width: 100%;
  display: block;
}

/* ===============  Fonts Import  =============== */

@font-face {
  font-family: UTM Avo;
  src: url(/assets/fonts/UTM\ Avo.ttf);
}

@font-face {
  font-family: SFU;
  src: url(/assets/fonts/SFUInsigniaRegular.TTF);
}

/* ===============  Global style  =============== */

.viewmore {
  margin: 0 auto;
}

.view-more {
  display: inline-block;
  background-color: var(--main-color);
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  padding: 14px 40px;
  border-radius: 30px;
}

.view-more:hover {
  color: #fff;
  text-decoration: underline;
}

.page-heading {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  max-width: 430px;
  position: relative;
  text-align: center;
  margin: 0 auto;
}

.page-heading::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 60px;
  background-color: var(--main-color);
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.page-heading::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 60px;
  background-color: var(--main-color);
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

/* =============== Header =============== */

.header-title {
  font-size: 30px;
  text-transform: uppercase;
  color: #2e2d3e;
  font-family: var(--utm-avo-font);
}

.header-action i {
  font-size: 30px;
  display: inline-block;
  cursor: pointer;
  color: #0b0b0b;
}

.header-action i ~ i {
  margin-left: 15px;
}

.nav {
  background-color: var(--main-color);
  padding: 15px 0;
}

.menu-link {
  color: #f5f6f9;
  font-size: 15px;
  text-transform: uppercase;
}

.menu-item:not(:first-child) {
  margin-left: 70px;
}

.menu-link {
  transition: all 0.25s ease-in-out;
}

.menu-link:hover {
  color: #f5f6f9;
}

.has-submenu {
  position: relative;
}

.has-submenu:hover .submenu {
  opacity: 0.9;
  visibility: visible;
  transform: translateY(0);
}

.submenu {
  position: absolute;
  width: 240px;
  padding: 15px 10px;
  box-shadow: 0 14px 40px rgb(0 0 0 / 10%);
  background-color: #fff;
  top: 30px;
  transform: translateY(20px);
  transition: all 0.3s ease;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
}

.submenu::before {
  position: absolute;
  content: "";
  height: 20px;
  width: 100%;
  left: 0;
  top: -15px;
}

.submenu li a {
  display: block;
  padding: 0 10px;
  line-height: 40px;
  transition: all 0.35s ease-in-out;
  font-weight: 500;
}

.submenu li a.active,
.submenu li a:hover {
  color: #0fb7a4;
}

.submenu li a:hover {
  transform: translateX(10px);
}

.menu-btn i {
  font-size: 30px;
  cursor: pointer;
}

/* ===============  Menu mobile  =============== */

.menumobile {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  transition: all 0.25s ease-in-out;
}

.menumobile.active {
  opacity: 1;
  visibility: visible;
}

.menumobile-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 98;
  transition: 0.3s ease;
}

.menumobile.active .menumobile-list {
  transform: translateX(0);
}

.menumobile-list {
  position: absolute;
  right: 0;
  background-color: #fff;
  height: 100vh;
  padding: 15px;
  width: 280px;
  transform: translateX(100%);
  z-index: 99;
  transition: all 0.25s ease-in-out;
}

.menumobile-list li a {
  text-transform: uppercase;
  padding: 0 10px;
  line-height: 50px;
  display: block;
}

/* ===============  Category =============== */

.category {
  margin: 45px 0;
}

.category-title {
  font-size: 36px;
  color: #333333;
  font-family: var(--utm-avo-font);
  text-transform: uppercase;
  margin-bottom: 25px;
}

.category-wrap {
  display: flex;
  flex-wrap: wrap;
  margin-left: -18px;
}

.category-item {
  margin-left: 18px;
  height: 400px;
}

.category-img {
  position: relative;
}

.category-img img {
  object-fit: cover;
  border-radius: 5px;
}

.category-img-content {
  position: absolute;
  z-index: 1;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  text-align: right;
}

.category-img-content h3 {
  font-family: var(--sfu-font);
  font-size: 24px;
  color: #0480ea;
  line-height: 30px;
  text-transform: uppercase;
  text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff,
    1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
  margin-bottom: 10px;
}

.category-img-content p {
  color: #000000;
  text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff,
    1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

.wid-29 {
  flex-direction: column;
  width: calc(29% - 18px);
}

.wid-29 img {
  height: 190px;
}

.wid-22 {
  width: calc(22% - 18px);
}

.wid-22 img,
.wid-20 img {
  height: 400px;
}

.wid-20 {
  width: calc(20% - 18px);
}

/* ===============  Product  =============== */

.product {
  margin-bottom: 20px;
}

.product-tab {
  margin-bottom: 45px;
}
.product-tab li a {
  font-weight: 700;
  font-size: 18px;
  color: #333333;
  text-transform: uppercase;
  display: inline-block;
}

.product-tab li ~ li {
  margin-left: 40px;
}

.product-tab li a.active {
  color: #fff;
  background-color: var(--main-color);
  padding: 13px 18px;
  border-radius: 5px;
}

.product-item {
  margin-bottom: 20px;
}

.product-img {
  border: 1px solid #ebebeb;
  overflow: hidden;
}

.product-img img {
  height: 370px;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
}

.product-title a {
  font-size: 14px;
  color: #000000;
  text-transform: uppercase;
  line-height: 24px;
  margin: 18px 0;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.product-price {
  font-weight: 700;
}

.pane .viewmore {
    margin-top: 20px;
}

/* ===============  Feedback  =============== */
.feedback {
    background: url(/assets/images/feedback-bg.jpg) no-repeat center/cover;;
    width: 100%;
    height: 395px;
    padding-top: 45px;
}

.feedback .page-heading {
    margin-bottom: 35px;
}

.feedback-user {
    position: relative;
}

.feedback-user::before {
    content: "";
    position: absolute;
    right: -40px;
    height: 100%;
    width: 1px;
    background-color: #d3d3d3;
}

.feedback-avatar {
    width: 170px;
    height: 170px;
    background: url(/assets/images/avatar.jpg) no-repeat center/cover;
    border-radius: 50%;
    position: relative;
    margin: 0 auto;
    margin-bottom: 30px;
}

.feedback-avatar::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    border: 5px solid rgba(255,255,255,.5);
    border-radius: 50%;
}

.feedback-name {
    font-size: 18px;
    color: var(--main-color);
    margin-bottom: 10px;
}

.feedback-job {
    font-style: italic;
    font-size: 18px;
    color: #333333;
}

.feedback-content {
    max-width: 450px;
    line-height: 36px;
    margin-left: 90px;
}
/* ===============  Media Queries  =============== */

@media screen and (min-width: 1350px) {
  .container {
    max-width: 1230px;
    width: 100%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 1199px) {
  .menu-item:not(:first-child) {
    margin-left: 60px;
  }
}

@media screen and (max-width: 991px) {
  .menu-item:not(:first-child) {
    margin-left: 50px;
  }

  .category-title {
    font-size: 30px;
  }

  .category-item {
    width: 100%;
    height: unset;
  }

  .category-img {
    margin-bottom: 20px;
  }

  .category-img img {
    width: 100%;
    height: unset;
  }
}

@media screen and (max-width: 480px) {
  .product-tab li a {
    font-size: 12px;
  }
}
